<div *ngIf='editMode; else editBlock' class='notes-section'>
    <p>Word clicked: {{ word }}</p>
    <p>Overall Verse Number: {{ ayah.overallVersenumber }}</p>
    <p>Ayah Number in Surah: {{ ayah.ayahNumberInSurah }}</p>

    <textarea class='notes' [(ngModel)]='userText' rows='10' cols='100'>
    </textarea>

    <button type="submit" (click)="saveNotes()">Save</button>
    <button (click)="download()">Export notes</button>
</div>

<ng-template #editBlock>
    <textarea class='notes' readonly rows='10' cols='100'>
        Click on a word to start making notes.
    </textarea>
</ng-template>

